---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  place: number;
  artist: string;
  album: string;
  image: string;
  writeup: string;
  vibes: string;
  n_highlight: number;
}

const { place, artist, album, image, writeup, vibes, n_highlight } = Astro.props;
var tradImage = true;
var images = null;
if (!image.startsWith("http")) {
  tradImage = false;
  images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/images/*_images/*.{jpeg,jpg,png,gif}"
  );
  if (!images[image]) throw new Error(`"${image}" does not exist in glob: "${images}"`);
}
---

<div class="container" id={place <= n_highlight ? "gold" : "normal"}>
  <div class="Place">{place}</div>
  <div class="Art">
    {
    tradImage ? 
    <img src=`${image}` alt=`Album cover from ${artist}'s "${album}"` width="400px" /> : 
    <Image
      src={images[image]()}
      alt=`Album cover from ${artist}'s "${album}"`
      width={400}
    />}
  </div>
  <div class="Titles">
    <h3 class="artistname">{artist}</h3>
    <h4 class="albumname"><em>{album}</em></h4>
    <br />
    <p class="vibes">vibes: {vibes}</p>
    <div class="Writeup"><p class="writeup">{writeup}</p></div>
  </div>
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: 0.25fr 1.5fr 1.5fr;
    grid-template-rows: 1fr;
    margin: 25px;
    grid-auto-flow: row;
    grid-template-areas:
      "Place Art Titles"
  }

  #gold.container {
    box-shadow: 0px 0px 11px 8px rgba(255, 223, 43, 0.75);
    -webkit-box-shadow: 0px 0px 11px 8px rgba(255, 223, 43, 0.75);
    -moz-box-shadow: 0px 0px 11px 8px rgba(255, 223, 43, 0.75);
  }

  #normal.container {
    box-shadow: 0px 0px 11px 8px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 0px 0px 11px 8px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 0px 11px 8px rgba(0, 0, 0, 0.65);
  }
  .vibes {
    font-style: italic;
  }

  .Place {
    grid-area: Place;
    align-self: center;
    margin: auto;
    font-size: 30px;
  }

  .Art {
    grid-area: Art;
    margin: auto;
    margin-top: 10px;
  }

  .Titles {
    grid-area: Titles;
    margin: auto;
  }
  .Vibes {
    grid-area: Vibes;
    margin: auto;
  }

  .Writeup {
    grid-area: Writeup;
    padding-left: 5px;
  }
</style>
